@page "/editar-articulo/{Id:int}"
@using shopping.web.Interfaces
@using shopping.web.Servicios
@inject IArticuloRepositorio MyArticuloRepositorio
@inject ICategoriaRepositorio MyCategoriaReositorio
@inject IImagenArticuloRepositorio MyImagenArticuloRepositorio
@inject ISubidaArchivo SubidaArchivo
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<h1 class="text-center">Editar Articulo</h1>

<div class="card">

    <div class="card-header">
        <div class="row">
            <div class="col-7">
                <h2 class="text-dark">Editar Articulo</h2>
            </div>
        </div>
    </div>

    <div class="card-body">
        <EditForm Model="ArticuloDto" OnValidSubmit="@( () => ManejadorOnEditarArticulo())">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            @* <ValidationSummary></ValidationSummary> *@

            <div class="container">

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <label>Categoria: </label>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <InputSelect @bind-Value="@categoriaSeleccionada.CategoriaId"class="form-control">
                                @foreach (var Categoria in DropDownCategoriaDtos)
                                {
                                    <option value="@Categoria.CategoriaId">@Categoria.NombreCategoria</option>
                                }
                            </InputSelect>
                           @*  <p> @categoriaSeleccionada.CategoriaId </p> *@
                        </div>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <label>Nombre: </label>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <InputText @bind-Value="ArticuloDto.Nombre" class="form-control" placeholder="Ingresa el nombre del articulo"></InputText>
                            <ValidationMessage For="() => ArticuloDto.Nombre"></ValidationMessage>
                        </div>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <label>Descripcion: </label>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <InputText @bind-Value="ArticuloDto.Descripcion" class="form-control" placeholder="Ingresa la descripcion"></InputText>
                            <ValidationMessage For="() => ArticuloDto.Descripcion"></ValidationMessage>
                        </div>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <label>Caracteristicas: </label>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <InputText @bind-Value="ArticuloDto.Caracteristicas" class="form-control" placeholder="Ingresa las caracteristicas"></InputText>
                            <ValidationMessage For="() => ArticuloDto.Caracteristicas"></ValidationMessage>
                        </div>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <label>Precio: </label>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <InputNumber @bind-Value="ArticuloDto.Precio" class="form-control" placeholder="Ingresa el precio"></InputNumber>
                            <ValidationMessage For="() => ArticuloDto.Precio"></ValidationMessage>
                        </div>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <label>Activo: </label>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <InputCheckbox @bind-Value="ArticuloDto.Activo"></InputCheckbox>
                            <ValidationMessage For="() => ArticuloDto.Activo"></ValidationMessage>
                        </div>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <label>Contacto: </label>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <InputText @bind-Value="ArticuloDto.Contacto" class="form-control" placeholder="Ingresa el contacto"></InputText>
                            <ValidationMessage For="() => ArticuloDto.Contacto"></ValidationMessage>
                        </div>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <label>Telefono: </label>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <InputText @bind-Value="ArticuloDto.ContactoTelefono" class="form-control" placeholder="Ingresa el telefono del contacto"></InputText>
                            <ValidationMessage For="() => ArticuloDto.ContactoTelefono"></ValidationMessage>
                        </div>
                    </div>
                </div>

                <br />

                <div class="form-group" style="padding-top:30px; padding-bottom:30px">
                    <hr />
                    <h4>Imagenes del articulo</h4>

                    <InputFile OnChange="ManejadorOnSubidaArchivo" multiple accept=".jpg, .jpeg, .png"></InputFile>

                    <div class="row">
                        @if (EstaIniciadoSubidaImagen)
                        {
                            <div class="col-md-12">
                                <span><i class="bi bi-arrow-repeat"></i>Cargando imagenes</span>
                            </div>
                        }
                        @if (ArticuloDto.UrlImagenes != null && ArticuloDto.UrlImagenes.Count > 0)
                        {
                            int Serial = 1;
                            foreach (var ImagenArticulo in ArticuloDto.UrlImagenes)
                            {
                                <div class="col-md-2 mt-3">
                                    <div class="imagen-articulo" style="background: url('@ImagenArticulo') 50% 50%">
                                        <span class="titulo-imagen-articulo">@Serial</span>
                                    </div>
                                    <button type="button" @onclick="() => BorrarImagen(ImagenArticulo)" class="btn btn-outline-danger btn-block mt-4">Borrar</button>
                                </div>
                            }
                            Serial++;
                        }
                    </div>

                </div>

                <br />

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-5 col-lg-2">
                            <button type="submit" class="btn btn-success"><i class="bi bi-gear-fill"></i>&nbsp; Editar Articulo</button>
                        </div>
                        <div class="col-sm-5 col-lg-6">
                            <NavLink href="articulos" class="btn btn-secondary"><i class="bi bi-arrow-left-circle-fill"></i>&nbsp; Volver</NavLink>
                        </div>
                    </div>
                </div>

            </div>
        </EditForm>
    </div>

</div>
