@page "/articulos"

@using Interfaces
@using shopping.web.Servicios
@inject IArticuloRepositorio MyArticuloRepositorio
@inject ISubidaArchivo SubidaArchivo
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<h1 class="text-center">Articulos</h1>


<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-9">
                <h4 class="card-title text-dark">Lista de Articulos</h4>
            </div>
            <div class="col-2">
                <NavLink href="crear-articulo" class="btn btn-primary btn-sm btn-lg"><i class="bi bi-plus-circle-fill"></i>&nbsp; Nuevo Articulo</NavLink>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive-sm table-responsive-lg">
            <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Acciones</th>
                    @* <th>Id</th> *@
                    <th>Categoria</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    @* <th>Caracteristicas</th>
                    <th>Contacto</th>
                    <th>ContactoTelefono</th>*@
                    <th>Precio</th> 
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                @if (ArticuloDto.Count() > 0)
                {
                    foreach (var articulo in ArticuloDto)
                    {
                        <tr>
                            <td>
                                <NavLink href="@($"editar-articulo/{articulo.ArticuloId}")" class="btn btn-success"><i class="bi bi-gear-fill"></i>&nbsp; Editar</NavLink>
                                <button class="btn btn-danger" @onclick="() => ManejadorOnBorrar(articulo.ArticuloId)"><i class="bi bi-trash-fill"></i>&nbsp; Borrar</button>
                            </td>
                            @* <td>@articulo.ArticuloId</td> *@
                            <td>@articulo.Categoria.NombreCategoria</td>
                            <td>@articulo.Nombre</td>
                            <td>@articulo.Descripcion</td>
                            @* <td>@articulo.Caracteristicas</td>
                            <td>@articulo.Contacto</td>
                            <td>@articulo.ContactoTelefono</td>*@
                            <td>@articulo.Precio</td>
                            <td>@articulo.Activo</td> 
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">No hay registros</td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>

</div>

<ConfirmacionBorrado ProcesandoComponentePadre="EstaProcesando" CambioConfirmacion="ClickConfirmarBorrado"></ConfirmacionBorrado>